.container{
    width: 80%;
}
.divconteudo{
    background-color: rgba(255, 255, 255, 0.9);
    width:35%;
    height:auto;
    border-radius:6px;
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
}
.btnlogin{
    background-color: #F489DD !important;
    width:100%;
}
.btncadastro{
    width:100%;
    margin-top:15px;
}
.divlogin{
    margin-top:30px;
}
.divbtn{
    margin-top: 10px;
}