<header>
    <!-- navbar -->
    <nav class="nav-wrapper transparent">
        <div class="nav-cont">
            <a href="/" id="logo">
                <img src="/img/logo-completo.svg" alt="logo" height="65px">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Sobre nós</a></li>
                <% if (user) { %>
                <li><a href="/user/<%=user.username%>"><img src="/img/user-icon.svg" alt="" srcset="" height="45px" id="user-icon"></a></li>
                <li>
                    <form action="/user/<%=user.username%>/deslogar">
                        <input type="hidden" value="<%= user.id_user %>">
                        <button type="submit" style="background-color: transparent; border: none; cursor: pointer;">Deslogar</button>
                    </form>
                </li>
                <% } else { %>
                <li><a href="/login">Entrar</a></li>
                <li><a href="/cadastro">Cadastrar</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <!-- /navbar -->
</header>