.nav-wrapper {
    box-shadow: none;
}

.row {
    margin-top: 60px;
}

nav ul li:hover {
    border-color: red;
}

/* efeito de quando clica na seta */
.waves-effect.waves-light .waves-ripple {
    background-color: #f489dd54 !important;
}

/* setas do carrosel */
.middle-indicator {
    position: absolute;
    top: 50%;
}

.middle-indicator-text {
    display: flex;
    align-items: center;
}

a.middle-indicator-text {
    color: black !important;
}

.content-indicator {
    width: 50px;
    height: 50px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

/* bolinhas do carrosel */
.indicator-item {
    background-color: #f489dd54 !important;
}

.indicator-item.active {
    background-color: #f489dd92 !important;
}