<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- css style.css -->
    <link rel="stylesheet" href="/css/cadastro-pets.css">
    <link rel="stylesheet" href="/css/componentes/header.css">
    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal</title>
</head>

<body class="container">
    <%- include ('partials/header') %>

    <main class="principal">
        <h1 class="titulos">Cadastre seu Pet</h1>
        <div class="formpet">
            <form action="/user/<%=user.username%>/cadastro-pet/adicionar-dados" method="post" enctype="multipart/form-data">
                <h5 class="titulos">Foto do seu pet</h5>
                <input type="file" name="foto" id="">
                <br><br>
                <input type="text" name="nome" id="" placeholder="Nome">
                <input type="text" name="especie" id="" placeholder="Especie">
                <input type="text" name="raca" id="" placeholder="Raça">
                <input type="text" name="cor" id="" placeholder="Cor">
                <input type="text" name="idade" id="" placeholder="Idade">

                <label>SEXO</label>
                <select class="browser-default">
                    <option value="" disabled selected>Escolha o sexo</option>
                    <option value="macho">Macho</option>
                    <option value="femea">Femea</option>
                </select>

                <input type="text" name="peso" id="" placeholder="Peso">
                <input type="text" name="alergia" id="" placeholder="Alergia">
                <input type="text" name="medicamento" id="" placeholder="Medicamento">
                <input type="text" name="vacina" id="" placeholder="Vacina">

                <h2 class="titulos">Informações do dono</h2>

                <input type="text" name="nomedono" id="" placeholder="Nome do dono">
                <input type="text" name="telefone" id="" placeholder="Telefone">
                <input type="text" name="endereco" id="" placeholder="Endereco">
                <input type="text" name="cidade" id="" placeholder="Cidade">
                <input type="text" name="cep" id="" placeholder="CEP">

                <input type="submit" class="btn">
            </form>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>