<html lang="pt-br">

<head>
    <!--Icones-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS-login-->
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/componentes/header.css">
    <title>InfoPet</title>
</head>


<body>
    <div class="container">
        <header>
            <!-- navbar -->
            <nav class="nav-wrapper transparent">
                <div class="nav-cont">
                    <a href="/" id="logo">
                        <img src="img/logo-completo.svg" alt="logo" height="65px">
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Sobre nós</a></li>
                        <li><a href=" /login">Entrar</a></li>
                        <li><a href="/cadastro">Cadastrar</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /navbar -->
        </header>

        <h4 class="center white-text loginh4">Login</h4>
        <div class="row divlogin ">
            <form method="post" action="/login">
                <div class="col s10 m6 l4 offset-s1 offset-m3 offset-l4 divconteudo">
                    <div class="input-field col s12 formmg" style="margin-top: 45px; margin-bottom:0px">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" name="loginInput" type="text" class="validate" required minlength="5"
                            placeholder="Login">
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        <input id="icon_prefix2" type="password" name="senhaInput" class="validate" required minlength="6"
                            placeholder="Senha">
                    </div>
                    <div class="center">
                        <span class="red-text center">
                            <% if (error) { %>
                                Usuário ou senha errado
                            <% } %>
                        </span>
                    </div>
                    <div class="input-field col s12 divbt">
                        <button class="waves-effect waves-light btn btnlogin" type="submit"
                            name="bt-send">Entrar</button>
                        <a href="/cadastro" class="waves-effect waves-light btn grey btncadastro">Cadastrar-se</a>
                    </div>
            </form>
        </div>
    </div>
    </div>
</body>

</html>