<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- css style.css -->
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="/css/componentes/header.css">
    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal</title>
</head>

<body class="container">
    <header>
        <!-- navbar -->
        <nav class="nav-wrapper transparent">
            <div class="nav-cont">
                <a href="/" id="logo">
                    <img src="/img/logo-completo.svg" alt="logo" height="65px">
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <!-- <li><a href="#">FAQ</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="/login">Entrar</a></li>
                    <li><a href="/cadastro">Cadastrar</a></li> -->
                    <a href="/">
                        <img src="/img/user-icon.svg" alt="" srcset="" height="45px" id="user-icon">
                    </a>
                </ul>
            </div>
        </nav>
        <!-- /navbar -->
    </header>
    
    <div class="container valign-wrapper">
        <div class="row center-align">
            <p class="textpet">Nenhum pet registrado...<br>
            Crie seu cartãozinho agora!</p>
            <a class="waves-effect waves-light btn grey btnregistrar">Registrar pet</a>

            <!-- <div class="cartao">
                <div class="nomepet">
                    <p>NOME</p>
                </div>
                <div class="fotopet">
                </div>
                <div class="info">
                    <p>Nome: Pan <br>
                    <p>Sexo: Feminino</p>
                </div>
                <div class="botoes">
                    <a class="waves-effect waves-light btn grey btnpet">Editar informações</a>
                    <a class="waves-effect waves-light btn grey btnpet">Ver mais Infos</a>
                </div>
            </div> -->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>