#logo {
    margin-top: 12px;
    position: relative;
}

/* navbar */
.nav-wrapper {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.102);
    height: 100px;
}

.nav-cont {
    width: 85%;
    margin: auto;
}

nav ul {
    margin-top: 12px;
}

nav ul li {
    border-radius: 5px;
}

nav ul li a {
    color: black;
    border-radius: 5px;
}

nav ul li a:hover {
    color: white;
}

nav ul li:hover {
    background-color: #F489DD;
}
